:root {
    --primary-color: #E1A039;
}

.section-1 {
    width: 100%;
    height: 75vh;
    background-image: url("../Assets/yanResim.webp");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-content h2 {
    margin-top: 30px;
    color: rgb(22, 22, 22);
}

.text-content h1{
    color: var(--primary-color);
}
.section2-h {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-2-main-content {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bosluk {
    margin-left: 40px;
}

.section-2-left {
    margin-right: 30px;
}
.section-2-left h1 {
    color: var(--primary-color);
    margin: 60px 0;
    text-align: center;
}
.section-2-left p {
    margin-left: 45px;
    font-weight: 500;
    
}

.button {
    display: flex;
    justify-content: center;
}

.c-p {
    color: var(--primary-color);
    font-weight: 600;
}

.section-2-left button {
    padding: 10px 40px ;
    border: solid 3px var(--primary-color);
    border-radius: 30px;
    background-color: transparent;
    text-align: center;
    margin: 50px;
    transition: all 0.4s;
    cursor: pointer;
}

.section-2-left button:hover {
    background-color: var(--primary-color);
    color: white;
    box-shadow: 0 0 8px var(--primary-color),
                0 0 16px var(--primary-color),
                0 0 32px var(--primary-color);
}

.section-2-right img{
    width: 400px;
}

.section-3-h {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
}

.section-3-h-content {
    width: 80%;
    height: 100%;
}



#map {
    height: 400px; /* Harita yüksekliği */
    width: 600px;   /* Harita genişliği */
    border-radius: 25px;
    border: solid 3px var(--primary-color);
}

.section-3-h-content {
    display: flex;
    justify-content: space-between;
}

.section-3-h-left img {
    width: 420px ;
}

.section-4-h {
    width: 100%;
    display: flex;
    align-items: center;
}
.section-4-h img {
    width: 500px;
}

.section-4-h-content {
    width: 50%;
    background-color: rgb(26, 26, 26);
    margin-left: 80px;
    border-radius: 40px;
    border: solid 4px var(--primary-color);
    padding: 50px;
}

.name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input,textarea {
    color: white;
    outline: none;
}

.name input {
    width: 300px;
    padding: 10px 20px;
    background-color: transparent;
    border: solid 3px var(--primary-color);
    border-radius: 20px;
}

.mail input {
    padding: 10px 20px;
    width: 714px;
    margin: 50px 0;
    background-color: transparent;
    border: solid 3px var(--primary-color);
    border-radius: 20px;
}

.message textarea {
    padding: 10px 20px;
    min-width: 714px;
    margin-bottom: 50px;
    background-color: transparent;
    border: solid 3px var(--primary-color);
    border-radius: 20px;
    min-height: 28vh;
}

.submit {
    display: flex;
    justify-content: center;
}

.submit button {
    padding: 10px 60px;
    background-color: var(--primary-color);
    border-radius: 30px;
    width: 760px;
}

.h1 {
    display: flex;
    justify-content: center;
}

.h1 h1 {
    color: white;
    margin-bottom: 50px;
}