:root {
    --primary-color: #E1A039;
}

.hizmetler-menu {
}

.hizmetler-menu ul {
    list-style: none;
}

.hizmetler-menu ul li {
    margin: 20px;
}
.hizmetler-menu span {
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color);
}